@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    color: #fff;
  }

  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-weight: normal;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-family: "Playfair Display", serif;
    color: #fff;
  }

  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-family: "Playfair Display", serif;
    color: #fff;
  }

  h1 b,
  h2 b,
  h3 b,
  h4 b,
  h5 b,
  h6 b {
    font-family: "Playfair Display", serif;
    color: #fff;
  }

  p {
    font-family: "Inter", sans-serif;
    color: #fff;
  }

  a {
    font-family: "Inter", sans-serif;
  }
  span {
    font-family: "Inter", sans-serif;
    color: #fff;
  }
  button {
    font-family: "Inter", sans-serif;
  }
  strong {
    color: #fff;
  }
  b {
    color: #fff;
  }
  i {
    color: #fff;
  }
  li {
    color: #fff;
  }
}
